<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated interface -->
      <package
            uri="http://cs.man.ac.uk/mdsd/2017/webgen-interface"
            class="uk.ac.man.cs.mdsd.webgen.interface_.WebGenInterfacePackage"
            genModel="model/webui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated webui -->
      <package
            uri="http://cs.man.ac.uk/mdsd/2017/webgen-interface"
            class="uk.ac.man.cs.mdsd.webgen.webui.WebGenWebUIPackage"
            genModel="model/webui.genmodel"/>
   </extension>

</plugin>
