<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated core -->
      <package
            uri="http://cs.man.ac.uk/mdsd/2017/webgen-core"
            class="uk.ac.man.cs.mdsd.webgen.core.WebGenCorePackage"
            genModel="model/core.genmodel"/>
   </extension>

</plugin>
